
body{
    margin:0;
    padding:0;
}
#tartalmazo{
    margin:auto;
    border:1px solid black;

}

.szabad{
    background-color:blue;
}
.foglalt{
    background-color:green;
}

.hibas{
    background-color:red;
}
.sikeres{
    background-color:green;
}