
body{
    margin:0;
    padding:0;
}
#tartalmazo{
    /*margin:auto;*/
    border:1px solid black;

}

.szabad{
    background-color:blue;
}
.foglalt{
    background-color:green;
}

.hibas{
    background-color:red;
}
.sikeres{
    background-color:green;
}

.indexek{
    background-color: white;
    /*text-align: center;*/
    text-transform: uppercase;
}
#keret{
    margin:auto;
    padding:0;
    padding-top:50px;
    position:relative;
}